<!DOCTYPE html>
<html>
<head>
  <%- include('includes/meta-header', { title: 'Dashboard' }) %>
</head>
<body>
  <%- include('includes/leftnav') %>
  <%- include('includes/header') %>

  <div class="content">
    <h1>Welcome, <%= user.username %>!</h1>
    <p>This is the dashboard page.</p>
  </div>
  <%- include('includes/meta-footer') %>
</body>
</html>